@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100&family=Titillium+Web:wght@400;700&display=swap');

:root{
    --main-color: #e84242;
    --black-color: #0e0e0e;
    --border-color: 0.1rem solid rgba(255,255,255,0.4);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: ease 0.2s;
}

/*! base html codes  */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: var(--black-color);
}

section{
    padding: 3.5rem 7%;
}

a{
    color: var(--black-color);
    text-decoration: none;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
}

.heading span {
    text-transform: uppercase;
    color: var(--black-color);
}

.button a button{
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
    margin: 35px;
}

.button a button:hover{
    background-color: var(--main-color);
    transition: 0.6s ease;
}

.search-input {
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

body{
    background-color: #fff;
}

ul {
    color: black;
    text-decoration: none;
    margin: 0.5% 34.5% 0 36.5%;
    text-align: start;
}

li{
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.ilk img {
    margin-left: 600px;
    margin-top: 30px;
    width: 200px;
    border-radius: 3px;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 30px;
}

h2{
    text-align: center;
    margin: 10px;
    font-size: 23px;
}

h2 a{
    color: #e84442;
    text-decoration: none;
}

h3{
    margin-left: 656px;
    margin-top: -610px;
    font-weight: 1000;
    font-size: 19px;
}

h4{
    text-align: center;
    font-size: 20px;
    margin-right: 170px;
    margin-top: 40px;
}

h5{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

h5 a{
    color: #e84442;
    text-decoration: none;
}

h6{
    text-align: center;
    color: #000;
    font-size: 20px;
}

h6 a{
    color: #e84242;
}

.imza img{
    width: 175px;
    height: 100px;
    margin-left: 660px;
    margin-top: -50px;
}

audio{
    margin-left: 560px;
    margin-top: 10px;
}

.flag .that-flag-2{
    float: right;
    margin-top: -890px;
    margin-right: -5px;
}

.flag .that-flag-1{
    margin-top: -280px;
}

.flag{
    border-radius: 6px;
    display: inline;
}

.videos .video-1 video{
    height: 600px;
    width: 100%;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

.videos .video-2 video{
    height: 600px;
    width: 100%;
    background-color: #f9f9f9;
    margin-top: 50px;
}

.site{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.site a{
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    border-radius: 3px;
}

.site a:hover{
    background-color: var(--black-color);
    transition: 0.8s ease;
}

.musics audio{
    margin: 25px;
}

.musics .button{
    margin: 40px;
}

.musics .button a button{
    background-color: var(--main-color);

}

.musics .button a button:hover{
    background-color: var(--black-color);
    transition: 1s ease;
    
}

.musics .header{
    border-bottom: 1px solid #000;
}

.images .header{
    border-bottom: 1px solid #000;
}

.images{
    display: grid;
    text-align: center;
}

.images img{
    width: 500px;
    height: 500px;
    margin: 30px 100px 30px 100px;
    padding: 10px;
    border: 1px solid black;
}

/*! footer start  */

.footer {
    background-color: var(--black-color);
    text-align: center;
}

.footer .search {
    display: flex;
    justify-content: center;
}

.footer .search .search-input {
    width: 30rem;
}

.footer .search .btn-primary {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
}

.footer .share {
    padding: 2rem 0;
}

.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border-color);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover {
    background-color: var(--main-color);

}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a {
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    font-family: 'poppins', sans-serif;
    border: var(--border-color);
}

.footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
}

.footer .links a.active {
    background-color: var(--black-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.5rem;
    font-family: 'poppins', sans-serif;
}

.footer .credit span {
    color: var(--main-color);
}

.music-btn{
    margin: 50px;
}

.music-btn a{
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
    font-family: sans-serif;
}

.music-btn a:hover{
    background-color: var(--main-color);
    transition: 0.6s ease;
}

/*! footer end  */


/*! responsive start  */
@media (max-width: 991px){
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .header .logo img{
        height: 7rem;
        padding-left: 3rem;
    }

    section{
        padding: 2rem;
    }

    .products .box-container .box .box-head .name {
        font-size: 3.4rem;
    }
}

@media (max-width: 768px){
    .header #menu-btn {
        display: inline-block;
    }
    .music-btn{
        margin-bottom: -690px;
    }
    
    .music-btn a{
        padding: 2rem;
        border-radius: 30rem;
        font-size: 1.7rem;
        color: #fff;
        background-color: var(--black-color);
        cursor: pointer;
        font-family: sans-serif;
    }
    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgba(0 0 0 / 75%);
        right: -100%;
    }

    .header .navbar .active {
        right: 3rem;
    }

    .header .navbar a {
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 576px){
    html{
        font-size: 50%;
    }
}

/*! responsive end  */

@media screen and (max-width:1000px){
    .flag .that-flag-1 img{
        display: inline;
        width: 100%;
        height: 100%;
        margin-top: 160px;
    }
    html{
        overflow-x: hidden;
    }
    .flag .that-flag-2 img{
        display: inline;
        width: 100%;
        height: 100%;
        margin-top: 1060px;
    }
    .ilk img{
        float: right;
        margin-top: 10px;
        margin: 0% 24% 0 40%;
    }
    h3{
        margin-right: 115px;
        float: right;
        font-size: 30px;
        margin-top: -820px;
    }
    h5{
        margin-right: 60px;
    }
    audio{
        float: right;
        margin-top: -759px;
        margin-right: 41px;
    }
    ul {
        margin-left: 25px;
        text-align: start;
        margin: 1% 5% 1% 8%;
    }
    li{
        font-size: 17px;
    }
    .musics audio{
        margin: 5% 10% 14% 10%;
        text-align: center;
    }
    .images .akp img{
        margin: 10px 10px 10px 10px;
    }
    .images .mhp img{
        margin: 10px 10px 10px 10px;
    }
    .images .bbp img{
        margin: 10px 10px 10px 10px;
    }
    .images .rp img{
        margin: 10px 10px 10px 10px;
    }
    .images img{
        width: 150px;
        height: 150px;
        margin: 10px 40px 10px 40px;
    }
    .videos .video-2 video{
        margin-top: -50px;
    }
    .footer{
        margin-top: 755px;
    }
}